@use "base";

/*-------Desktopläge-------*/
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

}

/*---Header---*/

#hamburger {
    display: none;
}

#hamburger:hover {
    cursor: pointer;
}

#header {
    display: grid;
    grid-template-rows: 1fr auto;


}

nav ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto auto auto auto;
    justify-items: center;

}

#logo {
    width: 100%;
    display: block;
    justify-self: right;
}

#logoLink {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    justify-self: center;
    width: 50%;
    margin-bottom: 40px;
}

#logoLink span {
    align-self: center;
    background-color: base.$box-color3;
    padding: 10px;
    border-radius: 50%;

}

#logoLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*---Footer---*/
footer {
    padding: 2rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
}

/*---Registreringssidan---*/
#mainRegister {
    display: grid;
}

#registerDiv {
    width: 50%;
    justify-self: center;
    padding-top: 2rem;
}

#registerForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#submitRegister {
    margin-top: 1rem;
}

#registerMessage {
    color: green;
}

/*---Logga in sida---*/
#mainLogin {
    display: grid;
}

#loginDiv {
    width: 50%;
    justify-self: center;
    padding-top: 2rem;
}

#loginForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#submitLogin {
    margin-top: 1rem;
}

/*----Startsida----*/
#mainHome {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 5%;
    margin-bottom: 60px;
}

#navSectionHome {
    justify-self: center;
    display: grid;
    line-height: 2;


}

#navSectionHome a {

    color: black;
}

/*menySection*/
#menuSectionStart {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    width: 100%;

}

#menuSectionStart h2 {
    grid-area: 1/1/2/3;
    justify-self: center;
    font-size: 1.6rem;
}

#brunchSectionStart {
    grid-area: 2/1/3/2;
    justify-self: center;
    width: 70%;
}

#allDaySectionStart {
    grid-area: 2/2/3/3;
    justify-self: center;
    width: 70%;
}

#menuSectionStart ul {
    list-style: none;
    padding-left: 0;
}

/*Lista med meny*/
#menuSectionStart li {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    padding-bottom: 1rem;
}

#menuSectionStart .item {
    grid-area: 1/1/2/2;
}

#menuSectionStart .price {
    grid-area: 1/2/2/3;
}

.description {
    grid-area: 2/1/3/3;
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 300;
}

#menuSectionStart h2,
#menuSectionStart h3 {
    font-family: base.$menu-font;
}

/*----Delete/update meny sida----*/

#mainDelMenu {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 5%;
    margin-bottom: 60px;

}

#mainDelMenu h1 {
    grid-area: 1/1/2/2;
    justify-self: center;
    font-size: 1.6rem;
}

#menuSectionDelete {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto auto;
    width: 100%;
    justify-items: center;
}

#menuSectionDelete h2 {
    grid-area: 1/1/2/3;
    font-size: 1.6rem;
}

#brunchSectionDelete {
    grid-area: 2/1/3/2;
    width: 70%;
}

#allDaySectionDelete {
    grid-area: 2/2/3/3;
    width: 70%;
}

#menuSectionDelete ul {
    list-style: none;
    padding-left: 0;
    

}

#menuSectionDelete h2,
#menuSectionDelete h3 {
    font-family: base.$menu-font;
}

/*Lista med meny*/
#menuSectionDelete li {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    padding-bottom: 1rem;
}

#menuSectionDelete i {
    padding-bottom: 2rem;
}

.deleteBtnDiv {
    grid-area: 3/1/4/2;
}

.updateBtnDiv {
    grid-area: 3/2/4/3;
}

/*Div där text skrivs ut när delete gjorts*/
#updateDiv {
    color: green;
}

/*----Update menu sidan----*/
#mainUpdateMenu {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr auto;
    grid-template-columns: 1fr;
    padding-left: 2rem;

}

#updateMenudiv {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr auto;
    width: 50%;
    justify-self: center;
}

#updateForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#updateForm label {
    display: block;
}

#submitUpdate {
    margin-top: 20px;
}

#updatedItemSection p {
    color: green;
}

/*--Add menu sidan--*/
#mainAdd {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 2rem;

}

#addDiv {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    width: 50%;
    justify-self: center;

}

#addMenuForm {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#addMenuForm label {
    display: block;
}

#submitbtnAdd {
    margin-top: 20px;
}

/*--Div för meddelande när ett item lagts till--*/
#addedItemSection p {
    color: green;
}

/*--Message sidan--*/
#mainMsgs {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

}

#messageSection article {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 0.5px solid rgb(163, 156, 156);
    width: 50%;
}

/*Bookingsidan*/
#mainBooking {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

#messageDivBook {
    color: green;
}

#bookingSection article {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 0.5px solid rgb(163, 156, 156);
    width: 50%;
}

/*tabletläge*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /*---Meny---*/

    #logoLink {
        width: 70%;
    }

    #hamburger {
        display: block;
        justify-self: flex-end;
        padding-right: 1rem;
    }

    #hamburger img {
        width: 100%;
        max-width: 40px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;

    }

    .topnav.responsive .nav-links {
        display: flex;
        width: 100%;
        padding-left: 0;
        text-align: center;
        row-gap: 20px;
    }


    .topnav.responsive.nav-links li {
        justify-self: center;
        width: 50%;

    }

    .active {
        background-color: base.$bg-color;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        color: black;
        text-decoration: underline;
    }

    .active a {
        color: black;
    }

    .topnav nav {
        display: flex;
        justify-content: center;
    }

    .topnav.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

}

/*-----------Mobilläge--------------*/

@media screen and (max-width: 600px) {

    /*--Deletemenusidan Menysection--*/
    #menuSectionDelete {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
    }

    #menuSectionDelete h2 {
        grid-area: 1/1/2/2;
        font-size: 1.6rem;
    }

    #brunchSectionDelete {
        grid-area: 2/1/3/2;
        width: 70%;
    }

    #allDaySectionDelete {
        grid-area: 3/1/4/2;
        width: 70%;
    }

    /*--add menu sidan--*/
    #addDiv {
        width: 100%;
    }

    /*--Update menu sidan--*/
    #updateMenudiv {
        width: 100%;
    }

    /*--Message sidan--*/
    #messageSection article {
        width: 70%;

    }

    #bookingSection article {
        width: 70%;
    }

    /*---Meny---*/

    #logoLink {
        width: 90%;
    }

    #logoLink span {
        font-size: 0.5rem;
    }

    #hamburger {
        display: block;
        justify-self: flex-end;
        padding-right: 1rem;
    }

    #hamburger img {
        width: 100%;
        max-width: 40px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;

    }

    .topnav.responsive .nav-links {
        display: flex;
        width: 100%;
        padding-left: 0;
        text-align: center;
        row-gap: 20px;
    }


    .topnav.responsive.nav-links li {
        justify-self: center;
        width: 50%;

    }

    .active {
        background-color: base.$bg-color;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        color: black;
        text-decoration: underline;
    }

    .active a {
        color: black;
    }

    .topnav nav {
        display: flex;
        justify-content: center;
    }

    .topnav.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

    /*Registersida*/
    #registerDiv {
        width: 90%;
    }

    /*---Footer---*/
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 20px;
    }

    footer a {
        font-size: 0.9rem;
    }
}